<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${tempdir}\console-example-internal.log"
      internalLogLevel="Off"
      throwConfigExceptions="true" >
  <!-- Trace|Debug|Info|Warn|Error|Fatal||Off -->
  <!-- ${basedir} from appdomain, ${currentdir} from environment, ${tempdir} or %temp% -->

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="target1" fileName="console-example.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target xsi:type="File" name="json1" filename="console-example.log.json" >
      <layout xsi:type="JsonLayout" includeAllProperties="true" includeMdc="true" includeGdc="true" >
        <attribute name="time" layout="${date:format=o}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="exception" layout="${exception:format=@:maxInnerExceptionLevel=-1" encode="false" />
        <attribute name="message" layout="${message}" />
      </layout>
    </target>
    <target xsi:type="Console" name="target2"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
 	<target xsi:type="File" name="target3" fileName="file-default-layout.log" />
 </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="target1,target2,target3,json1" />
  </rules>
</nlog>